<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Create-data-frame" data-toc-modified-id="Create-data-frame-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Create data frame</a></span></li><li><span><a href="#Lambda-DNA-with-BME,-staining-1:200" data-toc-modified-id="Lambda-DNA-with-BME,-staining-1:200-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Lambda DNA with BME, staining 1:200</a></span></li><li><span><a href="#Lambda-DNA-without-BME,-staining-1:10" data-toc-modified-id="Lambda-DNA-without-BME,-staining-1:10-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Lambda DNA without BME, staining 1:10</a></span></li></ul></div>

### Create data frame

In [1]:
#System modules
import os, sys
import inspect
currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.append(parentdir)
parentdir2 = os.path.dirname(os.path.dirname(currentdir))
sys.path.append(parentdir2)
#sys.path.append(r'C:\Users\os4875st\.py\py_DNA_waves')
sys.path.append(r'C:\Users\os4875st\Dropbox\PhD Tegenfeldt\.py\py_DNA_waves')

#Public modules
import matplotlib.pyplot as plt
import math
import pandas as pd
import numpy as np

#Personal modules
import dna_functions as dn
import fun_res_meas

#Reload modules
import importlib
importlib.reload(fun_res_meas)

In [7]:
importlib.reload(dn)
C_list = np.array([422,400,200,100,50,25])
n = len(C_list)
lengths = np.array([48502]*n)
df = dn.create_DNA_df(N_bp=lengths, C_list=C_list, T_deg_C=23)

df_lambda = df[(df['staining'] == '1:200')]
df_lambda = df_lambda.reset_index()
indices = [0,1,2,3,4,5,22,10,28]
df_lambda = df_lambda.iloc[indices]

pd.set_option('display.float_format', lambda x: '%.3g' % x)
df_lambda[['conc_DNA','L','salt','I', 'l_p','debye_length','w_eff_T23C','R_e_T23C_Flory','R_g_T23C_Flory','c_overlap_T23C_Flory', 'tau_zimm_low_c','C_ratio_Flory']]

Created a Data frame with length 210

,conc_DNA,L,salt,I,l_p,debye_length,w_eff_T23C,R_e_T23C_Flory,R_g_T23C_Flory,c_overlap_T23C_Flory,tau_zimm_low_c,C_ratio_Flory
0,422,16.6,"5x TE, 3% BME",0.0436,50.7,1.45e-09,4.63,1.16,0.47,117,2.05,3.61
1,400,16.6,"5x TE, 3% BME",0.0436,50.7,1.45e-09,4.63,1.16,0.47,117,2.05,3.42
2,200,16.6,"5x TE, 3% BME",0.0436,50.7,1.45e-09,4.63,1.16,0.47,117,2.05,1.71
3,100,16.6,"5x TE, 3% BME",0.0436,50.7,1.45e-09,4.63,1.16,0.47,117,2.05,0.855
4,50,16.6,"5x TE, 3% BME",0.0436,50.7,1.45e-09,4.63,1.16,0.47,117,2.05,0.427
5,25,16.6,"5x TE, 3% BME",0.0436,50.7,1.45e-09,4.63,1.16,0.47,117,2.05,0.214
22,50,16.6,0.13x TE,0.000791,91,1.08e-08,56,2.15,0.88,18.5,4.21,2.7
10,50,16.6,0.2x TE,0.00122,76.6,8.68e-09,43.3,1.97,0.81,23.9,3.41,2.09
28,50,16.6,0.1x TE,0.000608,103,1.23e-08,65.4,2.28,0.93,15.6,4.93,3.21

### Lambda DNA with BME, staining 1:200

In [5]:
importlib.reload(dn)
C_list = np.array([422,400,200,100,50,25])
n = len(C_list)
lengths = np.array([48502]*n)
df = dn.create_DNA_df(N_bp=lengths, C_list=C_list, T_deg_C=22)

df_lambda = df[(df['staining'] == '1:200')]
df_lambda = df_lambda.reset_index()
indices = [0,1,2,3,4,5,22,10,28]
df_lambda = df_lambda.iloc[indices]

pd.set_option('display.float_format', lambda x: '%.3g' % x)
df_lambda[['conc_DNA','salt','I', 'l_p','debye_length','w_eff_T23C','R_e_T23C_Flory','R_g_T23C_Flory','c_overlap_T23C_Flory', 'tau_zimm_low_c','C_ratio_Flory']]

Created a Data frame with length 210

,conc_DNA,salt,I,l_p,debye_length,w_eff_T23C,R_e_T23C_Flory,R_g_T23C_Flory,c_overlap_T23C_Flory,tau_zimm_low_c,C_ratio_Flory
0,422,"5x TE, 3% BME",0.0436,50.7,1.45e-09,4.63,1.16,0.47,117,2.05,3.61
1,400,"5x TE, 3% BME",0.0436,50.7,1.45e-09,4.63,1.16,0.47,117,2.05,3.42
2,200,"5x TE, 3% BME",0.0436,50.7,1.45e-09,4.63,1.16,0.47,117,2.05,1.71
3,100,"5x TE, 3% BME",0.0436,50.7,1.45e-09,4.63,1.16,0.47,117,2.05,0.855
4,50,"5x TE, 3% BME",0.0436,50.7,1.45e-09,4.63,1.16,0.47,117,2.05,0.427
5,25,"5x TE, 3% BME",0.0436,50.7,1.45e-09,4.63,1.16,0.47,117,2.05,0.214
22,50,0.13x TE,0.000791,91,1.08e-08,56,2.15,0.88,18.5,4.23,2.7
10,50,0.2x TE,0.00122,76.6,8.68e-09,43.3,1.97,0.81,23.9,3.42,2.09
28,50,0.1x TE,0.000608,103,1.23e-08,65.4,2.28,0.93,15.6,4.95,3.21

### Lambda DNA without BME, staining 1:10

In [10]:
importlib.reload(dn)
C_list = np.array([400])
n = len(C_list)
lengths = np.array([48502]*n)
I_list = np.array([30.993*1e-3]) #I_5xTE_0BME
df = dn.create_DNA_df(N_bp=lengths, C_list=C_list, I_list=I_list)

df_lambda = df[(df['staining'] == '1:50')]
df_lambda = df_lambda.reset_index()
# indices = [0,1,2,3,4,5,22,10,28]
# df_lambda = df_lambda.iloc[indices]

pd.set_option('display.float_format', lambda x: '%.3g' % x)
df_lambda[['conc_DNA','I', 'L','l_p','w_eff_T23C','R_e_T23C_Flory','R_g_T23C_Flory','c_overlap_T23C_Flory', 'tau_zimm_low_c','C_ratio_Flory']]

Created a Data frame with length 5

,conc_DNA,I,L,l_p,w_eff_T23C,R_e_T23C_Flory,R_g_T23C_Flory,c_overlap_T23C_Flory,tau_zimm_low_c,C_ratio_Flory
0,400,0.031,17,51,5.79,1.23,0.5,98.1,2.15,4.08

In [9]:
importlib.reload(dn)
C_list = np.array([400])
n = len(C_list)
lengths = np.array([48502]*n)
I_list = np.array([30.993*1e-3]) #I_5xTE_0BME
df = dn.create_DNA_df(N_bp=lengths, C_list=C_list, I_list=I_list)

df_lambda = df[(df['staining'] == '1:10')]
df_lambda = df_lambda.reset_index()
# indices = [0,1,2,3,4,5,22,10,28]
# df_lambda = df_lambda.iloc[indices]

pd.set_option('display.float_format', lambda x: '%.3g' % x)
df_lambda[['conc_DNA','I', 'L','l_p','w_eff_T23C','R_e_T23C_Flory','R_g_T23C_Flory','c_overlap_T23C_Flory', 'tau_zimm_low_c','C_ratio_Flory']]

Created a Data frame with length 5

,conc_DNA,I,L,l_p,w_eff_T23C,R_e_T23C_Flory,R_g_T23C_Flory,c_overlap_T23C_Flory,tau_zimm_low_c,C_ratio_Flory
0,400,0.031,19,51,5.79,1.32,0.54,80.8,2.61,4.95