<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#More-columns" data-toc-modified-id="More-columns-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>More columns</a></span></li></ul></div>

In [2]:
#System modules
import os, sys
import inspect
currentdir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parentdir = os.path.dirname(currentdir)
sys.path.append(parentdir)
parentdir2 = os.path.dirname(os.path.dirname(currentdir))
sys.path.append(parentdir2)
# sys.path.append(r'C:\Users\os4875st\.py\py_DNA_waves')
sys.path.append(r'C:\Users\os4875st\Dropbox\PhD Tegenfeldt\.py\py_DNA_waves')

#Public modules
import matplotlib.pyplot as plt
import math
import pandas as pd
import numpy as np

#Personal modules
import dna_functions as dn
import functions_wave_occurrence as wo
#Reload modules
import importlib
importlib.reload(dn)
importlib.reload(wo)

In [4]:
importlib.reload(dn)
lengths = np.array([1000,5000,10000,20000,48502,165600])
n = len(lengths)
C_list = np.array([422]*n)

df = dn.create_DNA_df(N_bp=lengths, C_list=C_list)

df_L = df[(df['staining'] == '1:200') & (df['salt'] == '5x TE, 3% BME')]
df_L = df_L.reset_index()
# indices = [0,1,2,3,4,5,22,10,28]
# df_lambda = df_lambda.iloc[indices]

pd.set_option('display.float_format', lambda x: '%.3g' % x)
df_L[['N_bp','conc_DNA','salt','I', 'R_g_T23C_Flory','tau_zimm_low_c','c_overlap_T23C_Flory','C_ratio_Flory']]

Created a Data frame with length 210

,N_bp,conc_DNA,salt,I,R_g_T23C_Flory,tau_zimm_low_c,c_overlap_T23C_Flory,C_ratio_Flory
0,1000,422,"5x TE, 3% BME",0.0436,0.05,0.00219,2.26e+03,0.186
1,5000,422,"5x TE, 3% BME",0.0436,0.12,0.0374,663,0.637
2,10000,422,"5x TE, 3% BME",0.0436,0.19,0.127,390,1.08
3,20000,422,"5x TE, 3% BME",0.0436,0.28,0.431,230,1.83
4,48502,422,"5x TE, 3% BME",0.0436,0.47,2.05,117,3.61
5,165600,422,"5x TE, 3% BME",0.0436,0.98,17.9,45.8,9.2

### More columns

In [7]:
df_L[['N_bp','conc_DNA','salt','I', 'l_p','w_eff_T23C','R_e_T23C_Flory','R_g_T23C_Flory','c_overlap_T23C_Flory', 'tau_zimm_low_c','C_ratio_Flory']]

,N_bp,conc_DNA,salt,I,l_p,w_eff_T23C,R_e_T23C_Flory,R_g_T23C_Flory,c_overlap_T23C_Flory,tau_zimm_low_c,C_ratio_Flory
0,1000,422,"5x TE, 3% BME",0.0436,50.7,4.63,0.12,0.05,2.26e+03,0.00219,0.186
1,5000,422,"5x TE, 3% BME",0.0436,50.7,4.63,0.31,0.12,663,0.0374,0.637
2,10000,422,"5x TE, 3% BME",0.0436,50.7,4.63,0.46,0.19,390,0.127,1.08
3,20000,422,"5x TE, 3% BME",0.0436,50.7,4.63,0.69,0.28,230,0.431,1.83
4,48502,422,"5x TE, 3% BME",0.0436,50.7,4.63,1.16,0.47,117,2.05,3.61
5,165600,422,"5x TE, 3% BME",0.0436,50.7,4.63,2.39,0.98,45.8,17.9,9.2